$white: #fff;
$black: #212121;
$gray: #666;
$light-gray: #999;

$blue: #2196F3;
$green: #4caf50;
$purple: #8e44ad;
$orange: #e67e22;
$red: #d32f2f;
$pink: #ff4081;

$primary: #2196F3;
$warning: #e67e22;
$error: #d32f2f;
$success: #4caf50;

$theme-blue: #303f9f;
$theme-blue-background: #c5cae9;
$theme-green: #388e3c;
$theme-green-background: #c8e6c9;
$theme-purple: #7b1fa2;
$theme-purple-background: #e1bee7;
$theme-red: #d32f2f;
$theme-red-background: #ffcdd2;

$theme-primary-text: #212121;
$theme-text-icon: #fff;
$theme-secondary-text: #757575;
$theme-divider:#bdbdbd;

$background-color: #f8f8f8;
$background-color-hover: #e8e8e8;
$border-color: #e9ebee;
