@import './colors';
@import './mixins/mixins';
@import './buttons';

.panel,
.panel-bd,
.panel-button {
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.panel {
  background-color: $background-color;
  border-right: 1px solid $border-color;
  font-size: 13px;
  height: 100%;
  left: -312px;
  top: 0;
  transition: .3s;
  width: 312px;

  &.panel-opened {
    left: 0;
  }
}

.panel-hd {
  border-bottom: 1px solid $border-color;
  height: 40px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.panel-title,
.panel-count {
  font-weight: normal;
}

.panel-title {
  font-size: 16px;
  line-height: 40px;
  margin: 0 40px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
}

.panel-bd {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding-top: 41px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.panel-button {
  @include button(40px, 40px, 20px);
  @include radius(10px);
  cursor: pointer;
  top: 0;
}

.panel-cancel {
  left: 0;
}

.panel-export,
.panel-save,
.panel-modify {
  font-size: 18px;
  right: 0;
}

.panel-modify {
  @include button(40px, 40px, 16px);
}

.panel-log {
  border-bottom: 1px solid $border-color;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;

  &:hover {
    background-color: $background-color-hover;
  }
}

.panel-log-time {
  color: $light-gray;
  float: right;
  font-size: 12px;
}

.panel-chart-area {
  height: 320px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.panel-chart-canvas {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.panel-trash {
  .task-title {
    cursor: move;
  }

  .task-title-text {
    cursor: move;

    &:hover {
      text-decoration: none;
    }
  }
}
