@import './buttons';
@import './mixins/mixins';

.plan {
  box-sizing: border-box;
}

.plan,
.main {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.side,
.logo {
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.side {
  height: 100%;
  left: 0;
  top: 0;
  width: 48px;
}

.logo {
  @include button(48px, 48px, 18px, $light-blue, $white);
  color: $white;
  font-size: 26px;
  left: 0;
  top: 0;
  width: 48px;
}

.main {
  margin: 0 0 0 48px;
}

.plan-blue {
  .side {
    background-color: $theme-blue;
  }

  .toolbar-button {
    @include button(48px, 48px, 18px, $light-blue, $white);
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  .toolbar-button-active {
    color: $primary;

    &:hover {
      color: $primary;
    }
  }
}

.plan-purple {
  .side {
    background-color: $theme-purple;
  }

  .toolbar-button {
    @include button(48px, 48px, 18px, $light-red, $white);
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  .toolbar-button-active {
    color: $light-red;

    &:hover {
      color: $light-red;
    }
  }
}

.plan-red {
  .side {
    background-color: $theme-red;
  }

  .toolbar-button {
    @include button(48px, 48px, 18px, $light-red, $white);
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  .toolbar-button-active {
    color: $light-red;

    &:hover {
      color: $light-red;
    }
  }
}

.plan-green {
  .side {
    background-color: $theme-green;
  }

  .toolbar-button {
    @include button(48px, 48px, 18px, $emerald, $white);
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  .toolbar-button-active {
    color: $light-green;

    &:hover {
      color: $light-green;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .columns-inner {
    overflow: auto;
  }

  .column {
    border-bottom: 1px solid $border-color;
    border-right: 0;
    box-sizing: border-box;
    float: none;
    height: auto;
    width: 100%;

    &:first-child {
      background-color: $white;
      border-color: $border-color;

      .column-hd {
        border-color: $border-color;
      }

      .task {
        background-color: $white;
        border-color: $border-color;
      }

      .task-marked {
        background-color: $background-color;
      }

      .task-ft {
        border-color: $border-color;
      }
    }

    .column-button {
      display: block;

      &.hidden {
        display: none;
      }
    }

    .column-bd {
      padding-top: 0;
    }

    .column-bd,
    .tasks {
      height: auto;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }

    .tasks {
      min-height: 92px;
      transition: .3s;

      &.tasks-min {
        height: 0;
        min-height: 0;
        overflow: hidden;
        padding: 0;
      }
    }

    .task-desc {
      max-height: 18px;
    }

    .task-bd,
    .task-desc {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .task-button {
      @include button(30px, 20px, 13px);
    }

    &:last-child {
      border: 0;
    }
  }
}

@media only screen and (max-width: 760px) {
  .column {
    .task-prev-button {
      display: block;
    }

    .task-next-button {
      display: block;
    }

    .task-prev-button,
    .task-next-button {
      font-size: 16px;
    }

    .task-status-0 {
      .task-prev-button {
        display: none;
      }
    }

    .task-status-3 {
      .task-next-button {
        display: none;
      }
    }
  }

  .gu-mirror {
    .task-desc {
      max-height: 18px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .columns {
    &.panel-view-opened,
    &.panel-add-opened,
    &.panel-edit-opened,
    &.panel-trash-opened,
    &.panel-setting-opened {
      margin-left: calc(100% + 1px);
    }
  }

  .panel {
    width: calc(100% - 1px);
  }

  .panel-view,
  .panel-add,
  .panel-edit,
  .panel-trash,
  .panel-setting {
    border-right: 0;
    left: calc((100% + 1px) * -1);
  }
}
