@import './buttons';
@import './mixins/mixins';

.plan {
  box-sizing: border-box;
}

.plan,
.main {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.side,
.logo {
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.side {
  background-color: $background-color;
  height: 100%;
  left: 0;
  top: 0;
  width: 48px;
}

.logo {
  @include button(48px, 48px, 18px, $black, $black);
  color: $black;
  font-size: 26px;
  left: 0;
  top: 0;
  width: 48px;
}

.main {
  margin: 0 0 0 48px;
}
