@import './colors';
@import './buttons';
@import './mixins/mixins';

.toolbar,
.toolbar-filters,
.toolbar-inner,
.toolbar-button {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.toolbar {
  box-sizing: border-box;
  padding: 48px 0 96px;
}

.toolbar-filters {
  box-sizing: border-box;
  overflow: hidden;
  padding: 48px 0 0;
}

.toolbar-inner {
  overflow: auto;
  width: 68px;
}

.toolbar-plus-button,
.toolbar-trash-button,
.toolbar-setting-button {
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 48px;
  z-index: 2;
}

.toolbar-plus-button {
  top: 48px;
}

.toolbar-trash-button {
  bottom: 48px;
}

.toolbar-setting-button {
  bottom: 0;
}
