div.column
  div.column-hd
    h2.column-title 处理中
      | （
      strong#doing-count.column-count 0
      | ）
    div.column-button.column-up(data-status="1")
      i.icon-cheveron-up
    div.column-button.column-down.hidden(data-status="1")
      i.icon-cheveron-down
  div.column-bd
    div#tasks-doing.tasks(data-status="1")