div#columns.columns
  div#columns-inner.columns-inner
    include column-todo
    include column-doing
    include column-checking
    include column-done
    div#background.columns-background
  div#columns-overlay.columns-overlay
