div.column
  div.column-hd
    h2.column-title 已完成
      | （
      strong#done-count.column-count 0
      | ）
    div.column-button.column-up-button(data-status="3")
      i.icon-cheveron-up
    div.column-button.column-down-button.hidden(data-status="3")
      i.icon-cheveron-down
  div.column-bd
    div#tasks-done.tasks(data-status="3")