div#archives-panel.panel.panel-trash
  div.panel-hd
    div#archives-cancel.panel-button.panel-cancel.archives-cancel
      i.icon-cheveron-left
    h2.panel-title 任务归档
      | （
      strong#archives-count.panel-count 0
      | ）
  div.panel-bd
    div#tasks-archives.tasks(data-status="archives")
