div#edit-panel.panel.panel-edit
  div.panel-hd
    div#edit-cancel.panel-button.panel-cancel.edit-cancel
      i.icon-cheveron-left
    h2.panel-title 编辑任务
    div#edit-save.panel-button.panel-save.edit-save
      i.icon-save-disk
  div.panel-bd
    div.tasks
      div.field
        label.field-label 任务标题：
        div.field-content
          div.field-input
            input#edit-title.field-input-text(type="text" autocomplete="false" placeholder="请输入任务标题")
      div.field
        label.field-label.field-view-label 创建日期：
        p#edit-create.field-view-text
      div.field
        label.field-label 截止日期：
        div.field-content
          div.field-input.field-date-input
            input#edit-deadline.edit-deadline-input.field-input-text(type="text" readonly="readonly" autocomplete="false" placeholder="请选择截止日期")
          div.field-input-icon.edit-calendar-icon
            i.icon-calendar
          div#edit-calendar.field-calendar
      div.field
        label.field-label 预估工作量：
        div.field-content
          div.field-input.field-time-input
            input#edit-estimate.field-input-text(type="text" autocomplete="false" placeholder="请输入预估工作量")
          div.field-input-icon.edit-time-icon
            i.icon-clock
      div.field
        label.field-label 任务等级：
        div.field-content
          div#edit-levels.field-levels
            div.field-option.field-level.field-level-spades.edit-level(data-level='0' data-type='edit')
              div.field-level-icon
                i.icon-spades
              p.field-level-text 紧急
            div.field-option.field-level.field-level-heart.edit-level(data-level='1' data-type='edit')
              div.field-level-icon
                i.icon-heart
              p.field-level-text 高
            div.field-option.field-level.field-level-clubs.edit-level(data-level='2' data-type='edit')
              div.field-level-icon
                i.icon-clubs
              p.field-level-text 中
            div.field-option.field-level.field-level-diamonds.edit-level(data-level='3' data-type='edit')
              div.field-level-icon
                i.icon-diamonds
              p.field-level-text 低
            input#edit-level(type="hidden" value="")
      div.field
        label.field-label 任务描述（支持 markdown）：
        div.field-content
          div.field-textarea
            textarea#edit-desc.field-textarea-text(autocomplete="false" rows="4" placeholder="请输入任务标题")