div#setting-panel.panel.panel-setting
  div.panel-hd
    div#setting-cancel.panel-button.panel-cancel.setting-cancel
      i.icon-cheveron-left
    h2.panel-title 设置
  div.panel-bd
    div.tasks
      div.field
        label.field-label 任务模板：
        div#setting-templates.field-content
      div.field
        label.field-label 主题皮肤：
        div#setting-themes.field-content
      div.field
        label.field-label.field-view-label 本地存储：
        div#setting-storage.field-content.field-view-text
