div#charts-panel.panel.panel-trash
  div.panel-hd
    div#charts-cancel.panel-button.panel-cancel.charts-cancel
      i.icon-cheveron-left
    h2.panel-title 统计分析
  div.panel-bd
    div#tasks-charts.tasks
