div#toolbar.toolbar
  div.toolbar-button.toolbar-plus
    i.icon-plus
  div.toolbar-filters
    div.toolbar-inner
      div.toolbar-button.toolbar-inbox.toolbar-active(data-filter='inbox')
        i.icon-inbox-full
      div.toolbar-button.toolbar-spades(data-filter='spades')
        i.icon-spades
      div.toolbar-button.toolbar-heart(data-filter='heart')
        i.icon-heart
      div.toolbar-button.toolbar-clubs(data-filter='clubs')
        i.icon-clubs
      div.toolbar-button.toolbar-diamonds(data-filter='diamonds')
        i.icon-diamonds
      div.toolbar-button.toolbar-bookmark(data-filter='marked')
        i.icon-bookmark
  div.toolbar-button.toolbar-archives(data-filter='archives')
    i.icon-inbox-check
  div.toolbar-button.toolbar-trash(data-filter='deleted')
    i.icon-bin
  div.toolbar-button.toolbar-setting
    i.icon-cog
