div#trash-panel.panel.panel-trash
  div.panel-hd
    div#trash-cancel.panel-button.panel-cancel-button.panel-trash-cancel
      i.icon-cheveron-left
    h2.panel-title 回收站
      | （
      strong#trash-count.panel-count 0
      | ）
  div.panel-bd
    div#tasks-trash.tasks(data-status="deleted")
