div#view-panel.panel.panel-view
  div.panel-hd
    div#view-cancel.panel-button.panel-cancel-button.panel-view-cancel
      i.icon-cheveron-left
    h2.panel-title 任务详情
    div#view-save.panel-button.panel-edit-button.panel-view-edit
      i.icon-edit-pencil
  div.panel-bd
    div.tasks
      div.field
        label.field-label.field-view-label 任务标题：
        p#view-title.field-text
      div.field
        label.field-label.field-view-label 截止日期：
        p#view-deadline.field-text
      div.field
        label.field-label.field-view-label 预估工作量：
        p#view-consuming.field-text
      div.field
        label.field-label.field-view-label 任务等级：
        p#view-level.field-text
      div.field
        label.field-label 任务描述：
        div#view-desc.field-content.field-desc-content