html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="renderer" content="webkit")
  meta(name="force-rendering" content="webkit")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Plan | 制定计划 执行计划
  meta(name="keywords" content="JavaScript,Todo,Plan.js")
  meta(name="description" content="Plan | 制定计划 执行计划")
  meta(name="twitter:description" content="JavaScript,Todo,Plan.js")
  link(href="css/app.min.css" rel="stylesheet" type="text/css")
body
  div#plan.plan
    div#side.side
      h1.logo
        i.icon-clipboard
      include inc/toolbar
    div#main.main
      include inc/view-panel
      include inc/add-panel
      include inc/edit-panel
      include inc/trash-panel
      include inc/setting-panel
      include inc/columns
  script(type="text/javascript" src="js/app.min.js")

