html(lang="en")
head
  meta(charset="UTF-8")
  title Plan | 制定计划 执行计划
  meta(name="description" content="Plan | 制定计划 执行计划")
  meta(name="twitter:description" content="JavaScript,Todo,Plan.js")
  meta(name="keywords" content="JavaScript,Todo,Plan.js")
  link(href="css/app.min.css" rel="stylesheet" type="text/css")
body
  div#plan.plan
    div.side
      h1.logo
        i.icon-clipboard
      include inc/toolbar
    div.main
      include inc/add-panel
      include inc/edit-panel
      include inc/trash-panel
      include inc/columns
  script(type="text/javascript" src="js/app.min.js")

