html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="renderer" content="webkit")
  meta(name="force-rendering" content="webkit")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Plan | 制定计划 执行计划
  meta(name="keywords" content="JavaScript,Todo,Plan.js")
  meta(name="description" content="Plan | 制定计划 执行计划")
  meta(name="twitter:description" content="JavaScript,Todo,Plan.js")
  link(href="css/app.min.css" rel="stylesheet" type="text/css")
  link(rel="shortcut icon" href="https://yaohaixiao.github.io/plan/images/favicon.ico")
body
  div#plan.plan
    div#side.side
      h1.logo
        i.icon-clipboard
      include inc/toolbar
    div#main.main
      include inc/panel-view
      include inc/panel-add
      include inc/panel-edit
      include inc/panel-charts
      include inc/panel-trash
      include inc/panel-setting
      include inc/columns
  script(type="text/javascript" src="js/app.min.js")

